.bus-head {
    text-align: center; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    /* font-size: 2.5rem;  */
     
}

.buscard
{
    margin-top: 80px;
    padding-top: 50px;
}

.baa-baa {
    display: inline-block;
   background: none;
   border: none;
    color: #ffffff; /* Set text color */
    text-decoration: none;
   
  
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Add transition for hover effect */
}


.card {
    position: relative;
    overflow: hidden;
    color: white;
    transition: opacity 0.5s ease;
}

.card:hover img {
    filter: brightness(37%);
    transition: filter 0.3s ease;
}
.card:hover {
    opacity: 0.7;
  }

.card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.card-body {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

.card:hover .card-body {
    opacity: 1;

}
.fade-in {
    animation: fadeInAnimation 1s ease-in forwards;
    opacity: 0;
}
.delay-1 {
    animation-delay: 0.5s; /* Adjust the delay for the first card */
}

.delay-2 {
    animation-delay: 1.5s; /* Adjust the delay for the second card */
}

.delay-3 {
    animation-delay: 2.5s; /* Adjust the delay for the third card */
}
.delay-4 {
    animation-delay: 3.5s; /* Adjust the delay for the third card */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.banner-container {

    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 229px;
}

.bus-para {
    background-color: #ffffff; 
    color: #000000; 
    padding: 20px; 
    border-radius: 5px; 
}

.bus-para p {
    margin: 0;
}
.aboutend{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    margin: 50px;
    gap: 10px;
    animation: fadeInAnimation 1s ease-in forwards;
    opacity: 0;
}
.offer{
    
    background-color: beige;
    border-radius: 10px;
}
.why{
   
    background-color: beige;  
    border-radius: 10px; 
}
